@import '@/mixins/text-mixins.pcss';

.locations {
	.locations-inner {
		.locations-title {
			@mixin sectionHeader;
			font-size: 48px;
			margin-bottom: 55px;

			.highlight {
				color: #45a29e;
			}
		}
	}
}
